@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ti-cursor-color: #18a7f9;
  --ti-cursor-font-family: "VT323", monospace;
  --ti-cursor-font-size: 6rem;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #051923;
  color: #e3e3e3;
}

h1 {
  font-family: "VT323", monospace;
  font-size: 6rem;
  margin-top: 8rem;
}

.main {
  width: 50rem;
  height: 100%;
  margin: 0 auto;
}

.socials {
  font-size: 2.3rem;
  list-style-type: none;
  margin-top: 3rem;
  height: 2.5rem;
}

.greeting {
  color: #18a7f9;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 1rem;
}
.socials > li {
  float: left;
  display: block;
  padding-right: 0.8rem;
}

a {
  color: #e3e3e3;
}

a:hover {
  color: #f0f6fc;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2.5rem;
}

label {
  color: #18a7f9;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.2rem;
}

.input-field {
  width: fit-content;
  margin-top: 0.8rem;
  position: relative;
}

input {
  width: 20rem;
  padding: 0.8rem 1rem;
  background-color: #0b384c;
  border: 2px solid #18a7f9;
  outline: none;
  border-radius: 5px;
  color: #18a7f9;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1rem;
}

button {
  font-size: 1.5rem;
  height: 100%;
  padding: 0 1rem;
  position: absolute;
  right: 0;
  background-color: #18a7f9;
  border: 2px solid #18a7f9;
  color: #0b384c;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #1698e3;
  border: 2px solid #1698e3;
}

@media only screen and (max-width: 900px) {
  .main {
    width: 100%;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }
  :root {
    --ti-cursor-font-size: 4rem;
  }
  .greeting {
    font-size: 1.2rem;
  }
  .input-field {
    width: 100%;
  }
  input {
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  h1 {
    font-size: 3rem;
  }
  :root {
    --ti-cursor-font-size: 3rem;
  }
}
